body {
    background-color: #d2d3d6;
}

hr {
    width: 50%;
}

.bg-primary hr {
    margin: white;
    background-color: white;
}

.bg-white hr {
    margin: black;
    background-color: black;
}

.wrapper {
    margin-right: 10px;
    margin-left: 10px;
}

.content-section {
    margin-top: 4px;
    border-radius: 5px;
}

.person-img {
    max-width: 150px;
    max-height: 150px;

    border-radius: 100%;
}

.person {
    padding: 10px;
    display: block;
}

.person span {
    font-weight: bolder;
}

.person div {
    display: flex;
    flex-direction: column;
}

